table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-firstPart {
    max-width: 300px;
}

.format{
  border: solid 2px #380d50;
  padding: 25px;
}

.header{
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 65px;
}

.filter{
    padding-left: 20px;
}